@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css');

:root {
  font-family: 'Pretendard';
  line-height: 1.5;
  font-weight: 400;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}
